<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">About grape:</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" style="margin-left: 1%">
        <h3>Grape name:</h3>
        <input style="width: 90%" type="text" class="form-control" title="Grape name" [(ngModel)]="grapeName">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="sendData()">
        <i class="fa fa-save"></i>&nbsp;&nbsp;Save
      </button>
    </div>
  </div>
</div>
